<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>{{_id == -1 ? 'Add Project Type' : 'Update Project Type'}}</nb-card-header>
      <nb-card-body>
        <form [formGroup]="baseForm" (submit)="baseSubmit()">
          <div class="form-group row">
            <label for="projectTitle" class="label col-sm-3 col-form-label">ProjectTitle</label>
            <div class="col-sm-9">
              <input class="form-control mr-sm-2" type="text" placeholder="ProjectTitle" formControlName="projectTitle" name="projectTitle">
              <span *ngIf="!baseForm.get('projectTitle').valid && baseForm.get('projectTitle').touched"
              ><nb-alert outline="danger" style="padding: 0.5rem;margin: 0.3rem">Required</nb-alert></span>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary" [disabled]="!baseForm.valid">Save</button>
            </div>
          </div>
          <br/><br/><br/><br/><br/><br/><br/><br/>
        </form>
        <div *ngIf="saveState != '0'">
          <ng-container *ngIf="saveState == '1'; else elseTemplate">
            <nb-alert status="success">Data have been successfully Saved</nb-alert>
          </ng-container>
          <ng-template #elseTemplate>
            <nb-alert status="danger">{{saveState}}</nb-alert>
          </ng-template>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
